/* src/components/Quiz.css */
.quiz-container {
  display: flex;
  background-color: #e9e8e8;
  justify-content: center;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 145px auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

.quiz h2 {
  margin: 10px 0;
  color: #333;
}

.quiz p {
  color: #000000;
  margin: 5px 0;
  font-size: 2rem;
}

.quiz ul {
  list-style: none;
  padding: 0;
}

.quiz li {
  background-color: #fff;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
}

.quiz button {
  background-color: #0073e6;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.quiz button:hover {
  background-color: #0057b0;
}

/* Timer styling */
.quiz .timer {
  font-size: 18px;
  font-weight: bold;
  color: #ff8c00; /* Change the color to your preference */
}

/* Messages */
.congratulations {
  color: #00a800;
  font-weight: bold;
}

.bad-luck {
  color: #ff0000;
  font-weight: bold;
}
